.form {
    /* margin: 0 auto; */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    /* width: fit-content; */
}

.form input, 
.form select, 
.form textarea {
    width: 60%;
}