.entry {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  align-items: center;
  gap: 1rem;
}

.description {
  font-size: small;
}

.category {
  width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.categoryContanier {
  border-bottom: solid 1px #e6e6e6;
}

.categoryButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0.75rem 0;
  width: 100%;
}

@media (max-width: 760px) {
  .entry {
    grid-template-columns: 1fr auto;
  }
}
